<div class="col-md-10 col-md-offset-1">
  <h2><%= @job.title %></h2>
  <br/>
  <div>
    <ul class="clearfix">
      <div class="list-group fl50">
        <li>
          <span>职位月薪：</span>
          <strong>6001-8000元/月</strong>
        </li>
        <li>
          <span>发布日期：</span>
          <strong>2017-03-29</strong>
        </li>
        <li>
          <span>工作经验：</span>
          <strong>不限</strong>
        </li>
        <li>
          <span>招聘人数：</span>
          <strong>10人</strong>
        </li>
      </div>

      <div class="list-group fl50">
        <li>
          <span>工作地点：</span>
          <strong>深圳</strong>
        </li>
        <li>
          <span>工作性质：</span>
          <strong>全职</strong>
        </li>
        <li>
          <span>最低学历：</span>
          <strong>本科</strong>
        </li>
        <li>
          <span>职位类别：</span>
          <strong>证券/投资客户经理</strong>
        </li>
      </div>
    </ul>
    <div class="clearfix">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#jobDetail" data-toggle="tab">职位描述</a>
        </li>
        <li>
          <a href="#comInfo" data-toggle="tab">公司介绍</a>
        </li>
      </ul>

      <p class="collect fr">
        <a href="javascript:void(0)" class="reportBtn" id="reportBtn">
          <font></font>举报</a>
        <a href="javascript:void(0)" rel="nofollow" onclick="zlapply.searchjob.saveJobTerminalApply(); dyweTrackEvent('bjobsdetail14gb', 'jobcollection'); return false;">
          <i></i>收藏</a>
      </p>
      <div class="tab-content">
        <div id="jobDetail" class="tab-pane fade in active">
          <p>任职要求：&nbsp;<br>1.年龄在30岁以下，本科毕业生，持有证券从业资格证，若没有考试通过，可以来我公司报名学习参加考试，考试者可获得培训津贴。（优秀大专以上学历也可考虑）<br>2. 全日制本科以上学历； 形象气质佳,饱含激情，营销能力强<br>3.有证券相关工作经验者优先，具有CPA/CFA资格者优先考虑<br>4. 综合素质良好，积极主动、责任心强，善于沟通，能承受较强的工作压力&nbsp;<br><br>职位描述：</p>
          <p>1.&nbsp;与金融产品发行机构建立合作关系，包括基金管理公司、银行、资产管理公司、信托公司等；</p>
          <p>2.&nbsp;与银行等项目资源方建立深层合作模式发展：委外业务、资产证券化、定向通道业务、替地方平台和企业发债；</p>
          <p>3.&nbsp;分析市场状况及客户需求，通过合作机构甄选、评价、引入代销金融产品，满足客户投融资需求；</p>
          <p>4.&nbsp;负责产品宣传推介、销售推动、业务培训、持续跟踪等工作；</p>
          <p>5.驻点银行等各类零售渠道，发掘客户，开发新客户；&nbsp;</p>
          <p>6.维护好渠道关系，建立良好的渠道合作关系，协助开发各类渠道；&nbsp;</p>
          <p>7.为客户提供基础资讯、个性服务，传递公司观点，为客户解疑；&nbsp;</p>
          <p>8.组织营销活动，渠道营销拓展，塑造公司品牌；&nbsp;</p>
          <p><br></p>
          <p>福利待遇：</p>
          <p>1.无责任底薪3100元，绩效奖励：开户奖（100/户）+提成20%+理财销售奖励1.2%+竞赛奖励（5000-10000）；</p>
          <p>转正后综合薪资7000以上；</p>
          <p>2.晋升空间：</p>
          <p>客户经理---渠道经理---区域经理---营销主任---营销总监----营业部负责人；</p>
          <p>客户经理---理财经理---投资顾问---客服部主任---营业部负责人；</p>
          <p>3.单位福利包含：五险一金（深圳市一档缴存）、带薪年假、双休、公司旅游、过节福利奖励等。</p>
          <p><br></p>
          <p>有意应聘者，也可将简历投递至邮箱：407635647@qq.com</p>
          <p>联系人：李小姐 &nbsp; &nbsp;</p>
          <p>联系电话：0755-27780274 &nbsp;</p>
          <p><br></p>
          <p style="font-size: 14px; font-family: simsun; margin: 12px 0px 0px; padding: 0px; color: rgb(51, 51, 51); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255);">工作地址</p>
          <p style="font-size: 14px; font-family: simsun; margin: 0px; padding: 0px; font-weight: 400; color: rgb(51, 51, 51); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255);">深圳宝安区海秀路国际西岸商务大厦21F</p>
          <p><br></p>
        </div>
        <div id="comInfo" class="tab-pane fade">

          <h5>
            <a href="#">安信证券股份有限公司深圳宝安海秀路证券营业部</a>
            <a href="#">该公司其他职位</a>
          </h5>
          <p></p>
          <div>&nbsp; &nbsp; &nbsp;安信证券股份有限公司（以下简称“安信证券”）成立于2006年8月18日。目前股东为国家开发投资公司、中国证券投资者保护基金有限责任公司、深圳市远致投资有限公司等14家，注册资本319,999万元。<br>
            安信证券总部设于深圳，下辖5家分公司，在25个省级行政区设有154家证券营业部，并全资拥有安信期货、安信国际、安信乾宏，控股安信基金等子公司，构建起综合金融理财服务平台。<br>
            安信证券可为广大投资者提供证券代理买卖、证券承销与保荐、证券资产管理、证券投资咨询、融资融券、基金代销、金融产品代销、股指期货中间介绍以及与证券交易、证券投资活动有关的财务顾问等服务。&nbsp;更多详情，请浏览我司网站http://www.essence.com.cn&nbsp;</div>

        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= link_to(t("sendRecord"), new_job_resume_path(@job), style: "font-size: 30px; text-decoration: underline;") %>
  </div>
</div>
