<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright text-center">
          Copyright © 2017 chenwy. All rights reserved. Designed & developed by chenwy
        </p>
      </div>
    </div>
  </div>
</footer>

<a href="javascript:void(0);" id="back-top">
  <i class="fa fa-angle-up fa-3x"></i>
</a>
