<footer class="container navbar-fixed-bottom" style="margin-top: 100px">
  <div class="footer">
    <p class="text-center">
      Copyright ©2017 Job-Listing
      <br/>
      Design By chenwy
    </p>
  </div>
</footer>
